<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Flowers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <br><br>
    <p>Flowers</p>

    <ion-img src="../assets/img/f7.jpg"></ion-img><br><br>
    <a href="/one">Flower One</a>
    <p></p>
    <a href="/two">Flower Two</a>
    <p></p>
    <a href="/three">Flower Three</a>
    <p></p>
    <a href="/four">Flower Four</a>
  </ion-content>